<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}{% endblock %}</title>

  <!-- SEO meta text -->
  <meta property='og:title' content='Horror House Book Reviews'/>
  <meta property='og:image' content='https://i.postimg.cc/5yPsHXXQ/meta-image.png'/>
  <meta property='og:description' content='Horror House reviews is a place for fans of horror fiction. 
  Reviewers can create an account, read reviews by others, and write their own review.'/>
  <meta property='og:url' content='https://horror-house-reviews.herokuapp.com/'/>



  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" media="all">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" media="all">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Crimson+Text:ital,wght@0,400;0,600;1,600&family=Open+Sans:wght@400;600&family=Poppins&display=swap"
    rel="stylesheet">


  <link rel="stylesheet" href="{{ url_for('static', filename='css/dark-mode.css') }}" id="mode-link" media="all">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="all">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="all">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css"media="all">


  <link rel="icon" type="image/ico" href="{{url_for('static', filename='images/favicon.ico')}}">


</head>


<body>

    <!-- Main Navigation -->
  <div>
    <nav class="navbar-colour">
      <div class="nav-wrapper container">
        <a id="logo-container" href="{{ url_for('index') }}" class="brand-logo">
          <img class="logo-size logo-position" src="{{url_for('static', filename='images/horror-house-logo.png')}}"
            alt="Horror House book reviews logo">
        </a>

        <ul class="right hide-on-med-and-down">

          <li><a class="nav-link-style" href="{{ url_for('reviews') }}">Reviews</a></li>
          {% if session.user %}
          <li><a class="nav-link-style" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
          <li><a class="nav-link-style" href="{{ url_for('add') }}">Add Review</a></li>
          <li><a class="nav-link-style" href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
          <li><a class="nav-link-style" href="{{ url_for('login') }}">Login</a></li>
          <li><a class="nav-link-style" href="{{ url_for('sign_up') }}">Sign Up</a></li>
          {% endif %}
        </ul>

        <!--Mobile Naviation -->
        <ul id="nav-mobile" class="sidenav">

          <li><a class="mobile-nav-style" href="{{ url_for('reviews') }}">Reviews</a></li>
          {% if session.user %}
          <li><a class="mobile-nav-style" href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
          <li><a class="mobile-nav-style" href="{{ url_for('add') }}">Add Review</a></li>
          <li><a class="mobile-nav-style" href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
          <li><a class="mobile-nav-style" href="{{ url_for('login') }}">Login</a></li>
          <li><a class="mobile-nav-style" href="{{ url_for('sign_up') }}">Sign Up</a></li>
          {% endif %}

          <li><a class="sidenav-close" href="#!">&times; Close</a></li>
        </ul>

        <a href="#" data-target="nav-mobile" class="sidenav-trigger">
          <i class="material-icons mobile-icon">add_box</i></a>

      </div>

    </nav>
  </div>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>

        <!-- Flash messages -->
        <section>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <div class="row flashes">
            <h2 class="purple lighten-4 center-align flash-font">{{ message }}</h2>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
        </section>

        <!-- Light/Dark Mode Toggle -->
        <div class="card btn-toggle">
          <div class="card-content toggle-card">
            <i class="small  material-icons tooltipped" tabindex="0" role="tooltip" data-position="bottom"
              data-tooltip="Click to toggle dark/light mode">
              brightness_medium</i>
          </div>
        </div>

        <!-- Heading text -->
        <h1 class="custom-font header center">{% block main_heading %}{% endblock %}</h1>


        {% block content %}

        {% endblock %}

        <br><br>
      </div>
    </div>

      <!-- Parallax image-->
    <div class="parallax"><img src="{{url_for('static', filename='images/horror-background.jpg')}}"
        alt="Background image of books, candle, potion, and skull">
    </div>

  </div>
  {% block below_content %}
  {% endblock %}

    <!-- Footer -->
  <footer class="page-footer">
    <div class="container">
      <div class="row">

        <!--Contact form button-->
        <div class="col l3 m6 xl6 contact-button-position">
          <a id="form-btn" class="btn-large  btn-styles waves-effect waves-dark lighten-1"
            aria-label="Open contact form" tabindex="0" role="form">Contact Us</a>
        </div>

        <!--Hidden contact form-->

        <div class="hide-form contact-modal" id="modal">

          <div class="contact-pop">

            <span id="close-form" tabindex="0" role="button">&times;</span>

            <form aria-label="Send us your comments, ideas, or feedback" id="contactForm" class="form-padding">

              <p class="mobile-heading form-heading">Tell us more!</p>
              <br>
              <label for="name" class="form-font label-display mobile-label">Name</label>
              <input type="text" id="name" name="from_name" class="label-width" aria-label="Name" required>
              <br>
              <br>
              <label for="email" aria-label="Email Address" class="form-font label-display mobile-label">Email</label>
              <input id="email" type="email" name="from_email" placeholder="example@email.com" class="label-width"
                aria-label="Email Address" required>
              <br>
              <br>
              <label for="enquiry" class="form-font label-display">Send us your comments, ideas, or feedback</label>
              <br>
              <textarea id="enquiry" name="enquiry" cols="45" rows="8" aria-label="Fill in comments in this text area"
                required></textarea>
              <br>
              <br>
              <input type="submit" value="Send" onsubmit="return sendMail(this);"
                class="btn-large waves-effect waves-dark lighten-1 btn-styles review-btn" aria-label="Submit this form">
            </form>
          </div>
        </div>

        <!--Social links-->
        <div class="social-links-position col l3 m6">
          <ul class="footer-links">

            <li>
              <a href="https://www.facebook.com" aria-label="Facebook" target="_blank" rel="noopener">
                <i class="fab fa-facebook-f" aria-hidden="true"></i>
              </a>
            </li>

            <li>
              <a href="https://www.instagram.com" aria-label="Instagram" target="_blank" rel="noopener">
                <i class="fab fa-instagram" aria-hidden="true"></i>
              </a>
            </li>

            <li>
              <a href="https://www.twitter.com/" aria-label="Twitter" target="_blank" rel="noopener">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>


  </footer>


  <!--  Scripts-->

  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous" async></script>

  <!--Sweet Alert-->

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" async></script>


  <!-- Custom scripts -->

  <script src="{{ url_for('static', filename='js/materialize.js') }}" async></script>
  <script src="{{ url_for('static', filename='js/light-mode.js') }}" async></script>
  <script src="{{ url_for('static', filename='js/contact-email.js') }}" async></script>
  <script src="{{ url_for('static', filename='js/init.js') }}" async></script>

  {% block splide_js %}
  {% endblock %}

  <!--EmailJS-->
  <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js" async></script>
  <script async>
    (function () {
      emailjs.init("user_a8QTjCWqE9AEZDgd6Xxqb");
    })();
  </script>

</body>

</html>