/* Dark Mode */

.navbar-colour {
    background-color: #E84A4D;
  }
  
  nav ul a.nav-link-style{
    color: #F5F3F4;
  } 

  .home-card-title {
    color: #F5F3F4;
    text-shadow: 1px 1px 2px black;
  }

  h3.custom-font {
    color: #F5F3F4;
    text-shadow: 1px 1px 2px black;
  }
  
  p {
    color: #F5F3F4;
    text-shadow: 1px 1px 2px black;
  }  
  
  .card.card-colour {
    background-color: #3e4c59;
  }

  .btn-toggle {
    color: #F5F3F4;
    text-shadow: 1px 1px 2px #E84A4D;
  }

  .btn-large.btn-styles {
    background-color: #E84A4D;
    border: #F5F3F4 0.75px solid;
    text-shadow: 1px 1px 2px black;
  }

  .icon-sec-background{
  background-color: #3e4c59;
}

.icon-styles {
    color: #E84A4D;
  }

 .individual-review-background {
    background-color: #3e4c59;
  }

  footer.page-footer {
    background-color: #E84A4D;
  }
  
  ul li {
    color: #F5F3F4;
  }

  input {
    color: white;
  }

  textarea {
    color: white;
  }

  .star-input  label {
    color: #C8C8C8;
  }

  .star-input  label:before {
    color: #C8C8C8;
  }

  /* Materialize input styles for forms*/

/* label color */
form .input-field label {
  color: #F5F3F4;
}

/* valid color */
form .input-field input[type=text].valid {
  border-bottom: 1px solid #F07F83;
  box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
form .input-field .prefix.active {
  color: #F07F83;
}