/* Light Mode */

.navbar-colour {
  background-color: #F5F3F4;
}

nav ul a.nav-link-style {
   color: #161214;
}

.card.card-colour {
  background-color: #d3d3d3;
}

.btn-toggle {
  color: #7B8FA3;
  text-shadow: 1px 1px 2px black;
}

.btn-large.btn-styles {
  background-color: #F07F83;
  border: #161214 2px solid;
  color: #161214; 
  text-shadow: 1px 1px 1px black;
}

.review-container {
  background-color: #E84A4D;
}

.icon-styles {
  color: #660708;
}

.home-card-title {
  color: #660708;
  text-shadow: 1px 1px 1.5px gray;
}

h3.custom-font {
  color: #660708;
  text-shadow: 1px 1px 1.5px gray;
}

p {
  color: #161214;
  text-shadow: 1px 1px 1px gray;
} 

p#light-mode-font {
  color: #660708;
}

.login-icon-light {
  color: #660708;
}

.individual-review-background {
  background-color: #d3d3d3;
}

footer.page-footer {
  background-color:  #F07F83;
}

  /* Materialize input styles for forms*/

/* label color */
form .input-field label {
  color: #161214;
}

/* valid color */
form .input-field input[type=text].valid {
  border-bottom: 1px solid #F07F83;
  box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
form .input-field .prefix.active {
  color: #F07F83;
}

