/* General Styles */

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  max-height: 700px;
}

nav .nav-wrapper {
  width: 100%;
  
}

nav .nav-wrapper#breadcrumb-bar {
  background-color: #81B29A;
}

.card.btn-toggle {
  position: fixed;
  margin-left: 70%;
  z-index: 2;
  background-color: #81B29A;
  cursor: pointer;
}

div.card-content.toggle-card {
  padding: 5px;
}

.mobile-icon {
  color: #161214;
  font-size: 26px;
}


.btn-large.btn-styles {
  background-color: #7F678E;
  border: #F5F3F4 0.75px solid;
  text-shadow: 1px 1px 2px black;
}



/* Font Styles */

.nav-link-style {
    font-size: 2.0rem;
    font-family: 'Crimson text', sans-serif;
    font-weight: 500;
    text-shadow: 1px 1px 1px grey;
}

h1 {
  font-family: 'Cinzel', sans-serif;
  font-weight: 600;
  color: #D9E8E0;
  text-shadow: 1px 1px 6px black;
}

h2 {
  font-family: 'Cinzel', sans-serif;
  font-weight: 400;
  color: #D9E8E0;
  text-shadow: 1px 1px 3px black;
}

.home-card-title {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 32px;
  font-size: 2.8rem;
  padding-bottom: 3%;
}

h3.custom-font {
    font-size: 2rem;
    font-family: Arial;
}

p {
  line-height: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

a#login-link {
  text-decoration: underline;
  color: #F07F83;
}

.btn-large.btn-styles {
  
  font-family: 'Crimson Text';
  text-transform: capitalize;
  font-size: 1.8rem;
}

a.breadcrumb {
  font-family: Poppins;
  font-size: 1.4rem;
  color: #D3D3D3;
}

/* Home Page */

.card.card-colour {
  border-radius: 15px;
}

.card.card-margin {
  margin: 6% 18% 4% 18%;
}

.icon-sec-background {
  max-width: 100%;
}

/* Review Page */

.btn-large.review-btn {
  font-size: 1.4rem;
}

.review-btn-position {
  padding-top: 7%;
}

.review-container {
  padding: 5%;
}

/* Login Page */

.login-link-padding {
  padding-bottom: 3%;
}

.card.login-card-padding {
  margin: 3% 10% 10% 10%;
  padding: 3% 10% 3% 10%;
}

/* Sign Up Page */
.card.card-margin2 {
  margin-top: 2%;
}

/* Individual Reviews */
.book-review-image{
  padding: 5%;
  height: auto;
  width: 80%;
}

.review-content {
  padding: 5%;
}

/* Profile */
.tabs .tab a {
  color: #161214 !important;
  font-family: Arial, Helvetica, sans-serif !important;
}



/* Add Review */

.overflow-form {
  width: 100%;
  height: 550px;
  overflow-y: scroll;
  padding: 3%;
  border-radius: 15px;
}

.rate-padding {
  padding-right: 85px;
padding-top: 25px;
} 

.dropdown-content li span{
  color: black;
}


.star-input input {
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  opacity: 0;
}

.star-input  label {
  position: relative;
  float: right;
}

.star-input  label:before {
  margin: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f005";
  display: inline-block;
  font-size: 1.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.star-input  input:checked ~ label:before {
  color: #FFC107;
}

.star-input  label:hover ~ label:before {
  color: #ffdb70;
}

.star-input  label:hover:before {
  color: #FFC107;
}






/* Footer */

.page-footer {
  padding: 20px;
}

ul li {
  float:left;
  display:inline;
  padding-left: 10px;
  font-size: 2.0rem;
}

a i {
  color: #161214;
}

a i:hover {
  color: #7F678E;
}

div.social-links-position.col.l3.m6 {
  padding-left: 5%;
}

div.col.l3.m6.contact-button-position {
  padding-top: 1.5%;
}


  /* Contact Form */

.form-padding {
  padding: 5%;
}

.hide-form {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.form-heading {
  font-family: 'Cinzel', sans-serif;
  font-weight: 600;
  color: #D3D3D3;
  text-shadow: 1px 1px 6px black;
  font-size: 2.8rem;
}

.form-font {
  font-size: 1.4rem;
  font-family: "Crimson text", sans-serif;
  font-weight: 500;
  text-transform: none;
  color: #D3D3D3;
  text-shadow: 1px 1px 2px black;
}

.label-display {
  display: block;
}

.label-width {
  width: 60%;
}

#close-form {
  color: #D3D3D3;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close-form:hover,
#close-form:focus {
  color: #81B29A;
  text-decoration: none;
  cursor: pointer;
}

.contact-pop {
  margin: 6% auto;
  padding: 12px;
  border: 1px solid #3e4c59;
  background-color: #393C56;
  width: 35%;
}

/* Mobile Sidenav Styles */

ul#nav-mobile.sidenav {
  background-color: #81B29A;
  padding-top: 25%;
}

.sidenav li a.mobile-nav-style {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.0rem;
}

/* Media Queries */

@media only screen and (max-width : 1100px) {
.mobile-review-card {
  font-size: 1.2rem;
}

}




@media only screen and (max-width : 800px) {

  h1.custom-font {
    font-size: 3.6rem;
  }

  .contact-pop {
    width: 60%;
  }
}

@media only screen and (max-width : 600px) {
  h1.custom-font {
    font-size: 2.8rem;
  }

  .card.card-margin {
    margin: 8% 8% 8% 8%;
}

.card.login-card-padding {
  margin: 0px;
  padding: 0px;
}
  
.home-card-title {
  font-size: 2.4rem;
}

.card.login-card-padding {
  margin: 15% 5% 5% 5%;
  padding: 0% 5% 3% 0%;
}

.contact-pop {
  width: 80%;
}

.rate-padding {
  padding: 0;
}

}

/* Materialze Custom Stylesheet */
/*
 * Made By MaterializeCSS.com
 */

.parallax-container {
  min-height: 770px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
    min-height: 1000px;
  }
  #index-banner .section {
    top: 5%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}