{% extends "base.html" %}
{% block title %} Reviews | Horror House {% endblock %}


{% block main_heading %} Featured Titles {% endblock %}


{% block content %}

<div class="splide">
  <div class="splide__track">
    <ul class="splide__list">
      {% for featured in featured %}
      <li class="splide__slide">
        <div class="card large card-colour">
          <div class="card-image">
            <img src={{featured.image}}>

          </div>
          <div class="card-content center">
            <p class="mobile-review-card">{{featured.title}}
              <br>
              by {{featured.author}}
            </p>
            <br>
            <div class="center review-btn-position">
              <a href="{{ url_for('featured', featured_books_id=featured._id) }}" 
                class="btn-large waves-effect waves-dark lighten-1 btn-styles review-btn">
                Read more
              </a>
            </div>
          </div>

        </div>

      </li>
      {% endfor %}

    </ul>
  </div>
</div>



{% endblock %}

{% block below_content %}


<div class="icon-sec-background">
  <div class="review-container">

    <h2 class="center">Read the latest reviews</h2>

    {% for category in categories %}
    <div class="chip">
      <a href="{{ url_for('category', category_id=category._id) }}">{{category.category_name}}</a>
    
    </div>
    {% endfor %}

    
    

    <div class="row">
      {% for book in books %}
      <div class="col s12 m6 l6 xl3">

        <div class="card large card-colour z-depth-5">

          <div class="card-image">
            <img src={{book.image}}>
          </div>
          <div class="card-content center">
            <p>{{book.title}}
              <br>
              by {{book.author}}
            </p>
            <div class="center review-btn-position">
              <a href="{{ url_for('individual', book_id=book._id) }}"
                class="btn-large waves-effect waves-dark lighten-1 btn-styles review-btn">
                Read more
              </a>
            </div>
          </div>

        </div>
      </div>
      {% endfor %}
    </div>

  </div>


</div>


{% endblock %}


{% block splide_js %}
<script src="static/js/splide.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
{% endblock %}