{% extends "general-templates/base.html"  %}
{% block title %} {{category.category_name}} | Horror House {% endblock %}

{% block main_heading %} {{category.category_name}} {% endblock %}

{% block content %}
<div class="row">
  <div class="col s12 m12 l12">
    <nav>
      <div class="nav-wrapper" id="breadcrumb-bar">
        <div class="col l12">
          <a href="{{ url_for('reviews') }}" class="breadcrumb">All Reviews</a>
          <a href="{{ url_for('category', category_id=category._id) }}"
            class="breadcrumb">{{category.category_name}}</a>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="row">

  <div class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        {% for book in books %}
        <li class="splide__slide">
          <div class="card large card-colour">
            <div class="card-image">
              <img src={{book.image}} alt="Book title for {{book.title}}">

            </div>
            <div class="card-content center">
              <p class="mobile-review-card">{{book.title}}
                <br>
                by {{book.author}}
              </p>
              <br>
              <div class="center review-btn-position">
                <a href="{{ url_for('individual', book_id=book._id) }}"
                  class="btn-large waves-effect waves-dark lighten-1 btn-styles review-btn">
                  Read more
                </a>
              </div>
            </div>

          </div>

        </li>

        {% endfor %}

      </ul>
    </div>
  </div>


</div>

{% endblock %}

{% block splide_js %}
<script src="{{ url_for('static', filename='js/splide.js') }}" async></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js" async></script>
{% endblock %}