{% extends "general-templates/base.html" %}

{% block title %} Horror House {% endblock %}


{% block main_heading %} You're now entering the Horror House {% endblock %}

{% block content %}
<div class="row">
  <div class="col s12 m12">
    <div class="card card-colour card-margin darken-1">
      <div class="card-content">
        <div class="home-card-title center">
          A place for horror fans
        </div>
       <!-- Info card -->
        <p id="light-mode-font">
          Do you love spooky stories? 
          Are you a fan of blood-chilling suspense?
          Or want to share excitement for any book that explores the range of fear?
          Do believe that horror is so much more than a genre?
          If so, the Horror House is the place for you.
       </p>
      </div>
    </div>
  </div>
</div>
<!-- Call to Action -->
<div class="row center">
  <a href="{{ url_for('reviews') }}" class="btn-large waves-effect waves-dark lighten-1 btn-styles">
  Browse reviews
  </a>
</div>
{% endblock %}

{% block below_content %}
<div class="icon-sec-background">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center icon-styles"><i class="material-icons">book</i></h2>
          <h3 class="center custom-font">Read horror books</h3>

          <p>First, sit down, relax and slip into the terrifying world of a new 
            horror novel or re-read your favourites. Watch or read a frightening play
            with horror motifs. Or enjoy the different types of fear in each story
            of a short story collection. 
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center icon-styles"><i class="material-icons">favorite_border</i></h2>
          <h3 class="center custom-font">Check out our reviews</h3>

          <p class="light">Take a break from reading your book to see
            what other Horror House fans are saying. Find books you already like
            and check to see if there's already a review. If you're not seeing your 
            current book on our list, think of what you'd like to say. Then create
            an account so you can write a new review.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center icon-styles"><i class="material-icons">keyboard</i></h2>
          <h3 class="center custom-font">Write your own</h3>

          <p class="light">Once you've created your Horror House account and become
            a reviewer, you can share your own opinions on horror fiction. You can also rate
            and add different subgenre categories that will appear with your review. 
            Please also include a book image .jpg or .png link and bookseller link 
            so that other Horror House fans can find the book for themselves.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}