{% extends "base.html" %}

{% block title %} Login | Horror House {% endblock %}

{% block main_heading %}
<h1 class= "custom-font header center">Login to your account</h1>
{% endblock %}

{% block parallax_content %}
<div class="row">
  <div class="col s12 l12">
    <div class="card medium card-colour login-card-padding">
      <div class="card-content">
        <p class="center login-link-padding" id="light-mode-font">Don't have an account yet? Sign up
          <a id="login-link" href="/">here</a>.
        </p>
        <form method="POST" action="{{ url_for('login') }}">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix login-icon-light">account_box</i>
              <input id="username" type="text" name="username" class="validate">
              <label for="username">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix login-icon-light">enhanced_encryption</i>
              <input id="password" type="password" name="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>  
            <div class="center">
              <button class="btn-large waves-effect waves-dark lighten-1 btn-styles review-btn" type="submit"
                name="action">Login
              </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}