{% extends "general-templates/base.html" %}

{% block title %} {{username}}'s Profile | Horror House {% endblock %}



{% block content %}

<div class="row">
  <div class="col s12">
    <div class="overflow-review">
      <ul id="tabs-swipe-demo" class="tabs breadcrumb-background">
        <li class="tab col s3"><a class="active" href="#main-info">Main Info</a></li>
        <li class="tab col s3"><a href="#update-info">Update info</a></li>
        {% if session.user|lower == "admin"|lower %}
        <li class="tab col s3"><a href="#add-featured">Featured</a></li>
        {% elif session.user|lower == "cmk416"|lower %}
        <li class="tab col s3"><a href="#add-featured">Featured</a></li>
        {% endif %}
        
      </ul>
      <div id="main-info" class="col s12 review-container">
        <div class="center">
          <h3 class="custom-font">Horror House reviewer {{username}}</h3>

          <img src="{{url_for('static', filename='images/pumpkin-avatar.png')}}" class="profile-image"
            alt="Default profile pic">

        </div>
      </div>

      <div id="update-info" class="col s12 review-container">
        <form method="POST" action="{{ url_for('profile', username=session['user']) }}">
          <div class="row">
            <div class="input-field col s6 l6">
              <i class="material-icons">add</i>
              <input id="image" type="url" name="profile-image" class="validate tooltipped" data-position="bottom"
                data-tooltip="Add a .png or .jpg image sized at 500 pixels wide" required>
              <label for="image">Add profile image</label>
              <button class="btn-large waves-effect waves-dark lighten-1 btn-styles review-btn" type="submit"
                name="action">Add
              </button>
            </div>
          </div>
        </form>
      </div>


      <div id="add-featured" class="col s12 review-container center">
       <h3 class="custom-font">Manage Featured Reviews</h3>
        <div>
          <a href="{{ url_for('add_featured') }}" class="btn-large waves-effect waves-dark lighten-1 btn-styles featured-btn">
            Create review
          </a>
        </div>

        
        
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              {% for featured in featured %}
              <li class="splide__slide">
                
                <div class="card large card-colour">
                  <div class="card-image">
                    
                    <img src={{featured.image}} alt="Book title for {{featured.title}}">
      
                  </div>
                  <div class="card-content center">
                    <p class="mobile-review-card">{{featured.title}}
                      <br>
                      by {{featured.author}}
                    </p>
                    <br>
                    <div class="center review-btn-position">
                      <a href="{{ url_for('featured', featured_books_id=featured._id) }}"
                        class="btn-large waves-effect waves-dark lighten-1 btn-styles btn-edit">
                        Edit/Delete
                      </a>
                    </div>
                    
                  </div>
      
                </div>
                
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        
      
       
        
      
      </div>
      
    </div>
  </div>
</div>

{% endblock %}

{% block below_content %}


  <div class="review-container">

    <h2 class="center">Reviews by {{username}}</h2>
    <div class="row">
    
      {% for book in books %}
      
      <div class="col s12 m6 l6 xl3">

        <div class="card large card-colour z-depth-5">

          <div class="card-image">
            <img src={{book.image}} alt="Book cover for {{book.title}}">
          </div>
          <div class="card-content center">
            <p>{{book.title}}
              <br>
              by {{book.author}}
            </p>
            <div class="edit-btn-position center">
              <a href="{{ url_for('edit', book_id=book._id) }}"
                class="btn-large waves-effect waves-dark lighten-1 btn-edit">
                Edit/Delete
              </a>
            </div>

          </div>
        </div>
      </div>
    

  
  {% else %}
 
      <div class="col l12 center">
        <p>You haven't created any reviews yet.</p>
        <div>
          <a href="{{ url_for('reviews') }}" class="btn-large waves-effect waves-dark lighten-1 btn-edit">
            Browse
          </a>
        </div>
      </div>
     
    
      {% endfor %}
    </div>
    </div>

{% endblock %}

{% block splide_js %}
<script src="{{ url_for('static', filename='js/splide.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
{% endblock %}