{% extends "base.html" %}

{% block title %} Sign Up | Horror House {% endblock %}

{% block main_heading %}
<h1 class="custom-font  header center">Create your own account</h1>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12 l12">
    <div class="card xlarge card-colour">
      <div class="card-content">

        <p class="center login-link-padding" id="light-mode-font">Don't have an account yet? Login
          <a id="login-link" href="{{ url_for('login') }}">here</a>.
        </p>
        <form method="POST" action="{{ url_for('sign_up') }}">
          <div class="row">
            <div class="input-field col s12 l6">
              <i class="material-icons prefix login-icon-light">border_color</i>
              <input id="first_name" type="text" name="first_name" class="validate" pattern="[a-zA-Z]+" required>
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s12 l6">
              <input id="last_name" type="text" name="last_name" class="validate" pattern="[a-zA-Z]+" required>
              <label for="last_name">Last Name</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix login-icon-light">account_box</i>
              <input id="username" type="text" name="username" class="validate tooltipped"
               minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
               data-position="bottom" data-tooltip="Please create a username of letters &amp;
                numbers that's 5-15 characters long" required> 
              <label for="username">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix login-icon-light">enhanced_encryption</i>
              <input id="password" type="password" name="password" class="validate tooltipped" 
              minlength="5" maxlength="15" pattern="^(?=.{5,15})(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$&^]).*$" 
              data-position="bottom" data-tooltip="Password must contain one uppercase &amp; 
              lowercase letter &amp; a number &amp; a special character: @#$&^"required>
              <label for="password">Password</label>
            </div>
          </div>
          <div class="center">
            <button class="btn-large waves-effect waves-dark lighten-1 btn-styles review-btn" type="submit"
              name="action">Create account
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}